.gridProject {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.card {
  background-color: #121212 !important;
  border: 1px solid #ffffff !important;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}

.cardMedia:hover {
  background-color: #121212 !important;
  cursor:  pointer !important;
}
.link {
  color: #66d9a1;
}
.bontactButton {
  margin: 5vh !important;
}
.collapse {
  background-color: transparent !important;
}
.subtitle {
  font-size: 1rem !important;
  margin-right: 0.2rem;
  font-weight: 691;
  color: #92e3a9;
}
