.mainContainer {
    margin-top: 15vh;
    min-height: 100vh;
}
.gridContainer {
    margin-top: 2vh;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    height: 100%;
}

.formContainer {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formRow {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
}
.formTitle {
    margin: 0 auto !important;
    font-size: 2.5rem !important;
}
.textFieldHalf {
    backdrop-filter: blur(1px) !important;
    flex: 0.49;

}
.textFieldFull{
    backdrop-filter: blur(1px) !important;
    flex: 2;
}
.buttonSubmit {
    margin: 0 auto !important;
}
.alertBox {
    width: 50% !important;
    margin: 0 auto !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.socialMediaContact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
}
.gridElement {
    margin-bottom: 40px !important;
}
.letterMedia {
    color: #92E3A9;
}