.footer {
  min-height: 6rem;
  width: 100%;
  position: relative;
  bottom: calc(0 - 2px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #121212;
  color: #d8d4cf;
  transition: all 0.3s ease-in-out;
  border-top: 1px solid rgba(250, 250, 250, 0.5);
}
.nameAndContactNetworks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nameAndContactNetworks * {
  margin: 0;
  padding: 0;
}
.iconsContainer {
  display: flex;
  gap: 0.5rem;
}
a {
  color: #d7d3c9;
}
a:hover,
a::before {
  color: #ffffff;
}
.icon {
  font-size: 2.6rem;
}

.copyright {
  align-self: center;
}
