.footer {
  height: 6rem;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;    
  align-items: center;
  background-color: #121212;
  color: #D8D4CF;
  transition: all 0.3s ease-in-out;
  border-top: 1px solid rgba(250, 250, 250, 0.5);
}


.iconsContainer {
    display: flex;
    gap: 0.5rem;
}
a {
    color: #D7D3C9;
}
a:hover, a::before {
    color: #FFFFFF;
}
.icon {
    font-size: 2.6rem;
}

.copyright {
    align-self: center;
}