* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  * {
    padding: 10px 0 0 0;
  }
  body {
    margin-top: 0;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  position: relative !important;
  overflow-x: hidden;
  background-image: url(./assets/img/endless-constellation-darkMode.svg);
  color: #d8d4cf;
  min-height: 100vh !important;
  margin-top: 5vh !important;
}
