* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative; 
  background-image: url(./assets/img/endless-constellation-darkMode.svg);
  color: #ffff;
  min-height: 100vh;
}

/* @media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
} */

