* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  /* position: relative !important; */
  overflow-x: hidden;
  background-image: url(./assets/img/endless-constellation-darkMode.svg);
  color: #d8d4cf;
  max-height: 95vh !important;
  padding: 2rem 0 0 0 !important;
  /* margin-top: 2rem !important; */
}

@media (max-width: 900px) {
  body {
    padding: 11vh 0 !important;
    min-height: 100vh !important;
  }
}
