* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  position: relative !important;
  overflow-x: hidden;
  background-image: url(./assets/img/endless-constellation-darkMode.svg);
  color: #D8D4CF;
  min-height: 100vh !important;
  margin-top: 5vh !important; 
}


