.gridContainer {
  border: 3px solid #d8d4cf;
  border-radius: 50px;
  margin-top: 0vh !important;
  margin-bottom: 3vh;
  padding-bottom: 1vh;
}
.skillContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gridTool {
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
}
.skillName {
  opacity: 0;
  transition: opacity 0.2s ease;
}
@keyframes rotateAndTranslate {
  0% {
    transform: rotateY(0deg) translateY(0);
  }
  50% {
    transform: rotateY(0) translateY(-15px);
  }
  100% {
    transform: rotateY(0) translateY(0);
  }
}

.iconContainer:hover + .skillName {
  opacity: 1;
}

.iconContainer:hover {
  animation: rotateAndTranslate 2s infinite linear alternate;
  transition: transform 0.2s ease;
}
.title {
  color: #ffffff;
  font-weight: 400;
}
.icon {
  font-size: 83px;
}

.projectsButton {
  margin: 1vh;
}

.effectProjectsButton {
  transform: perspective(1px) translate(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-property: color;
  transition-duration: 0.5s;
}
.effectProjectsButton::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #2d6c45;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.effectProjectsButton:hover {
  color: #ffffff;
}
.effectProjectsButton:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
