.skillsContainer {
    min-height: 105vh;
    padding-top: 13vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 5vh;
    width: 100vw;
    margin: 0 auto;
}
.gridContainer {
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 0vh;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
}
.gridTool {
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
}
.title {
    color: #FFFFFF;
    font-weight: 400;
}
.icon {
    font-size: 50px;
    border: 1px solid white;
}
.projects {
    margin: 1%;
}