.skillsContainer {
    min-height: 105vh;
    padding-top: 13vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5%;
    width: 100vw;
    margin: 0 auto;
}
.gridContainer {
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 0vh !important;
    margin-bottom: 3vh;
    padding-bottom: 1vh;
}
.skillContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gridTool {
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
}
.gridTool .skillName {
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.gridTool:hover .skillName {
    opacity: 1;
}
.gridTool:hover {
    color :#92E3A9;
}
.gridTool:hover .iconContainer{
    color :#92E3A9;
    transform: translateY(-10px);
    transition: transform 0.2s ease;
}

.title {
    color: #FFFFFF;
    font-weight: 400;
}
.icon {
    font-size: 60px;
}

.projects {
    margin: 1vh;
}