.skillsContainer {
    min-height: 105vh;
    padding-top: 20vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.cardTool {
    background-color: transparent;
    border: 1px solid transparent !important;
}
.icon {
    height: 80px;
}