.bannerContainer {
    height: 105vh;
}
.gridContainer {
    height: 100%;
    padding-top: 10vh;
    padding-left: 2vw;
    padding-right: 3vw;
    align-items: center;
    justify-content: space-between;
}
.text{

}
.imageContainer {
    height: 90%;
}
.image {
    /* border-radius: 2rem; */
    height: 80%;
    object-fit: cover;
}
